<nb-card>
  <nb-card-body>
    <input type="text" nbInput placeholder="Pesquisa livre">
    <nb-select-label>Situação</nb-select-label>
    <nb-select [(selected)]="selectedStatus" placeholder="Selecionar uma situação">
        <nb-option value="all">Todos</nb-option>
        <nb-option value="actives">Ativos</nb-option>
        <nb-option value="pending">Pendentes</nb-option>
        <nb-option value="inactives">Inativos</nb-option>
      </nb-select>
      <button nbButton status="primary"><nb-icon icon="plus-outline"></nb-icon>Primary</button>
    </nb-card-body>
</nb-card>

